body {
    background-image: linear-gradient(to right top, #000000, #2c3033, #212527, #313a37, #2e2e35);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    padding-top: 10%;
    position: sticky;
    text-align: center;
    color: white;
    font-size: 125px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 720px) {
    h1 {
        padding-top: 50%;
        font-size: 350%;
    }
}